<head>
	<meta charset="UTF-8" />
	<title>{{ title }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="/css/pureCss/pure-min.css" charset="utf-8" />
    <link rel="stylesheet" href="/css/pureCss/base-min.css" charset="utf-8" />
    <link rel="stylesheet" href="/css/pureCss/grids-responsive-min.css" charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/fontawesome/font-awesome.css" />

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> / 
</head>