
<div class="">
    <form class="pure-form">
        <fieldset class="pure-group">
            <div>
                <label for="username">Iniciar</label>
                <button id="wakeup" type="button" class="pure-button pure-input-1-3 pure-button-primary">Encender</button>
            </div>
            <div>
                <label for="password">Apagar</label>
                <button id="putsleep" type="button" class="pure-button pure-input-1-3 pure-button-primary">Apagar</button>
            </div>
        </fieldset>
    </form>
</div>
