
<div id="clientActions">
    <div class="pure-g">
        <div id="options-container roboto" class="pure-u-1 pure-u-md-2-5"><h3>Acciones del drone</h3><div class="options-container-elements"></div></div>
        <div id="queue-list" class="pure-u-1 pure-u-md-2-5 roboto"><h3>Cola de peticiones</h3><div class="list"></div></div>
        <div id="clients" class="pure-u-1 pure-u-md-1-5 roboto"><h3>Clientes conectados</h3><h3 class="clients"></h3></div>
    </div>
</div>
